@model FormalProject.Models.User

@{
    ViewBag.Title = "ShowInfo";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<h2>ShowInfo</h2>

<h1>DisplayInfo</h1>
<h2>@Model.name</h2>
<h2>@Model.password</h2>